@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	/*Primary Colors*/
	--color-primary: #952bff;
	--color-midnight: #11011e;
	--color-accent: #1f1067;
	--color-secondary-gradient: #f042ff;

	/*Fonts*/
	--color-muted: rgb(229 236 246 / 66%);

	/*Animations*/
	--animate-shimmer: shimmer 2s linear infinite;
	--animate-fade: fade 0.5s ease-in-out;
}

@keyframes shimmer {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -200% 0;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html {
	overflow-x: hidden;
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

:scroll-snap-type {
	scroll-snap-type: y mandatory;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.gradient-background {
	background: radial-gradient(circle, #461ddce3, #5e26ce5d, #89898915);
}
