---
import { Icon } from 'astro-icon/components'
import Title from '../ui/Title.astro'
---

<footer class="my-16 max-w-4xl md:mx-auto mx-5">
	<Title variant="Title">Contacto</Title>
	<p class="text-muted text-sm mt-6 max-w-xl">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam nulla debitis veritatis hic? Aut
		neque, delectus, vel tenetur doloremque possimus illo eligendi nam error numquam aspernatur
		quidem quod, minima natus.
	</p>

	<div class="my-4 flex justify-start gap-4 items-center">
		<Icon size={25} name={'logos/linkedin'} />
		<Icon size={25} name={'logos/github'} />
	</div>
	<p class="text-muted text-sm text-center">© 2024 Junior Calva</p>
</footer>
