---
import { Icon } from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import LanguagePicker from '../ui/LanguagePicker.astro'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<nav
	class="bg-transparent max-w-4xl md:mx-auto sticky top-3 z-50 border border-white/20 backdrop-blur-lg rounded-3xl mx-5 text-white text-sm flex justify-between items-center my-3"
>
	<figure class="z-10 mx-4">
		<Icon name="logos/brandLogo" size={60} />
	</figure>

	<div class="flex justify-between mx-4 items-center gap-8">
		<a href="#projects">{t('nav.projects')}</a>
		<a href="#skills">Skills</a>
		<a href="">Blog</a>
	</div>

	<div id="button-translate" class="cursor-pointer mx-4 relative">
		<Icon name="ui/language" size={25} />
		<LanguagePicker
			id="language-picker"
			class="absolute hidden top-8 right-0 border bg-secondary border-white/35 py-2 rounded-lg"
		/>
	</div>
</nav>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const iconTranslate = document.getElementById('button-translate')
		const languagePicker = document.getElementById('language-picker')

		if (iconTranslate && languagePicker) {
			iconTranslate.addEventListener('click', () => {
				languagePicker.classList.toggle('hidden')
			})

			window.addEventListener('scroll', () => {
				languagePicker.classList.add('hidden')
			})
		}
	})
</script>
