---
import { Icon } from 'astro-icon/components'
---

<nav
	class="bg-transparent sticky top-3 z-50 border-[1px] border-white/20 backdrop-blur-lg rounded-3xl text-white text-sm flex justify-around items-center my-3"
>
	<figure class="z-10">
		<Icon name="logos/brandLogo" size={60} />
	</figure>

	<div class="center gap-6">
		<a href="#home">Home</a>
		<a href="#projects">Proyectos</a>
		<a href="#skills">Skills</a>
		<a href="">Blog</a>
	</div>

	<div class="cursor-pointer">
		<Icon name="ui/language" size={25} />
	</div>
</nav>
