---
import netmall from '../../assets/imgs/netmall2.webp'
import rever from '../../assets/imgs/rever.png'
import CardProyect from '../ui/CardProyect.astro'
import Title from '../ui/Title.astro'
---

<section id="projects" class="my-12">
	<Title variant="Title">Proyectos</Title>
	<Title variant="description">Proyectos destacados: de la idea a la implementación</Title>
	<div class="grid lg:grid-cols-4 lg:h-[60%] lg:grid-rows-2 gap-3 mt-8">
		<CardProyect class="col-span-2 row-span-full place-content-center" img={rever} />

		<CardProyect class="col-span-2" img={netmall} />
		<CardProyect class="col-span-2" img={netmall} />
	</div>
</section>
