---
import netmall from '../../assets/imgs/netmall2.webp'
import rever from '../../assets/imgs/rever.webp'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import CardProyect from '../ui/CardProyect.astro'
import Title from '../ui/Title.astro'
import SectionContainer from './SectionContainer.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<SectionContainer id="projects" margin class="my-24">
	<Title variant="Title">{t('projects.title')}</Title>
	<Title variant="description">{t('projects.subtitle')}</Title>
	<div
		class="grid grid-rows-3 md:grid-cols-4 md:h-[60%] h-[42rem] md:grid-rows-2 gap-10 md:gap-3 mt-8"
	>
		<CardProyect
			class="md:col-span-2 row-span-1 md:row-span-full place-content-center"
			img={rever}
		/>
		<CardProyect class="md:col-span-2 row-span-1" img={netmall} />
		<CardProyect class="md:col-span-2" img={netmall} />
	</div>
</SectionContainer>
