---
import { Icon } from 'astro-icon/components'

// prettier-ignore
export type Color = "blue" | "white" | "yellow" | "red" | "sky" | "pink" | "violet" | "emerald" | "cyan" | "orange" | "muted";

interface Props {
	name: string
	IconName?: string
	color: Color
}

const { IconName, color, name } = Astro.props

const colorVariants: Record<Color, string> = {
	muted: 'border-slate-500/20 text-slate-300 hover:shadow-slate-500/50 ',
	blue: 'border-blue-500/20 text-blue-500 hover:shadow-blue-500/50',
	white: 'border-white/20 text-white hover:shadow-white/30 ',
	yellow: 'border-yellow-500/20 text-yellow-500 hover:shadow-yellow-500/50',
	red: 'border-red-500/20 text-red-500 hover:shadow-red-500/50',
	sky: 'border-sky-500/20 text-sky-500 hover:shadow-sky-500/50',
	pink: 'border-pink-500/20 text-pink-500 hover:shadow-pink-500/50',
	violet: 'border-violet-500/20 text-violet-500 hover:shadow-violet-500/50',
	emerald: 'border-emerald-500/20 text-emerald-500 hover:shadow-emerald-500/50',
	cyan: 'border-cyan-300/20 text-cyan-300 hover:shadow-cyan-500/50',
	orange: 'border-orange-500/20 text-orange-500 hover:shadow-orange-500/50'
}
---

<li
	class={`${colorVariants[color]} cursor-pointer hover:shadow-lg transition-colors ease-in-out duration-100 center bg-white/5 backdrop-blur-2xl px-3 py-1 border-[1px] rounded-lg gap-2`}
>
	{IconName && <Icon class={'text-black'} name={IconName} size={20} />}

	<p class="font-medium text-sm select-none">{name}</p>
</li>
