---
import { Icon } from 'astro-icon/components'
import type { Color, SkillName } from '../../types/project'

interface Props {
	name: SkillName
}

const { name } = Astro.props

const skillsConfig: Record<SkillName, { IconName?: string; color: Color }> = {
	'Frontend:': { color: 'muted' },
	'Backend:': { color: 'muted' },
	'Databases:': { color: 'muted' },
	'Other Tools:': { color: 'muted' },
	'Next.js': { IconName: 'logos/nextjs', color: 'white' },
	React: { IconName: 'logos/react', color: 'cyan' },
	Tailwind: { IconName: 'logos/tailwind', color: 'cyan' },
	Astro: { IconName: 'logos/astro', color: 'white' },
	HTML: { IconName: 'logos/html', color: 'orange' },
	CSS: { IconName: 'logos/css', color: 'blue' },
	Javascript: { IconName: 'logos/javascript', color: 'yellow' },
	Node: { IconName: 'logos/node', color: 'emerald' },
	Express: { IconName: 'logos/express', color: 'white' },
	Prisma: { IconName: 'logos/prisma', color: 'white' },
	Typescript: { IconName: 'logos/typescript', color: 'blue' },
	Python: { IconName: 'logos/python', color: 'blue' },
	FastAPI: { IconName: 'logos/fastapi', color: 'emerald' },
	PostgreSQL: { IconName: 'logos/postgresql', color: 'blue' },
	Mongo: { IconName: 'logos/mongo', color: 'emerald' },
	MySQL: { IconName: 'logos/mysql', color: 'sky' },
	Docker: { IconName: 'logos/docker', color: 'blue' },
	Git: { IconName: 'logos/git', color: 'orange' },
	Figma: { IconName: 'logos/figma', color: 'pink' }
}

const { IconName, color } = skillsConfig[name]

const colorVariants: Record<Color, string> = {
	muted: 'border-slate-500/20 text-slate-300 hover:shadow-slate-500/50 ',
	blue: 'border-blue-500/20 text-blue-500 hover:shadow-blue-500/50',
	white: 'border-white/20 text-white hover:shadow-white/30 ',
	yellow: 'border-yellow-500/20 text-yellow-500 hover:shadow-yellow-500/50',
	red: 'border-red-500/20 text-red-500 hover:shadow-red-500/50',
	sky: 'border-sky-500/20 text-sky-500 hover:shadow-sky-500/50',
	pink: 'border-pink-500/20 text-pink-500 hover:shadow-pink-500/50',
	violet: 'border-violet-500/20 text-violet-500 hover:shadow-violet-500/50',
	emerald: 'border-emerald-500/20 text-emerald-500 hover:shadow-emerald-500/50',
	cyan: 'border-cyan-300/20 text-cyan-300 hover:shadow-cyan-500/50',
	orange: 'border-orange-500/20 text-orange-500 hover:shadow-orange-500/50'
}
---

<li
	class={`${colorVariants[color]} cursor-pointer inline-flex hover:shadow-lg transition-colors ease-in-out duration-100  justify-center items-center bg-white/5 backdrop-blur-2xl px-3 py-1 border-[1px] rounded-lg gap-2`}
>
	{IconName && <Icon class={'text-black'} name={IconName} size={20} />}

	<span class="font-medium text-sm select-none">{name}</span>
</li>
