---
import { Icon } from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import LanguagePicker from '../ui/LanguagePicker.astro'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<nav
	class="bg-gradient-to-br from-violet-200/5 to-black/20 max-w-4xl md:mx-auto sticky top-3 z-50 border border-white/15 backdrop-blur-lg rounded-3xl mx-1 text-white text-sm flex justify-between items-center my-3"
>
	<a href="/" class="z-10 mx-4">
		<Icon name="logos/brandLogo" size={60} />
	</a>

	<div class="flex justify-between mx-4 items-center gap-3 md:gap-8">
		<a href="#projects">{t('nav.projects')}</a>
		<a href="#skills">{t('nav.skills')}</a>
		<a href="#blog">{t('nav.blog')}</a>
	</div>

	<div id="button-translate" class="cursor-pointer mx-4 relative">
		<Icon name="ui/language" size={25} />
		<LanguagePicker
			id="language-picker"
			class="absolute hidden top-8 right-0 border border-white/10 backdrop-blur-md bg-gradient-to-br from-violet-200/10 to-black/20 py-2 rounded-lg"
		/>
	</div>
</nav>

<script>
	document.addEventListener('astro:page-load', () => {
		const iconTranslate = document.getElementById('button-translate')
		const languagePicker = document.getElementById('language-picker')

		if (iconTranslate && languagePicker) {
			iconTranslate.addEventListener('click', (e) => {
				e.stopPropagation()
				languagePicker.classList.toggle('hidden')
			})

			document.addEventListener('click', (e) => {
				if (!iconTranslate.contains(e.target as Node)) {
					languagePicker.classList.add('hidden')
				}
			})

			window.addEventListener('scroll', () => {
				languagePicker.classList.add('hidden')
			})
		}
	})
</script>
