---
import BlogSection from '../components/sections/BlogSection.astro'
import ExperienceSection from '../components/sections/ExperienceSection.astro'
import Home from '../components/sections/Home.astro'
import ProjectsSection from '../components/sections/ProjectsSection.astro'
import SkillsSection from '../components/sections/SkillsSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main class="mx-auto">
		<Home />
		<ExperienceSection />
		<ProjectsSection />
		<SkillsSection />
		<!-- <BlogSection /> -->
	</main>
</Layout>
