---
import BlogSection from '../components/sections/BlogSection.astro'
import Experience from '../components/sections/Experience.astro'
import Home from '../components/sections/Home.astro'
import Projects from '../components/sections/Projects.astro'
import SkillsSection from '../components/sections/SkillsSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main class="mx-auto">
		<Home />
		<Experience />
		<Projects />
		<SkillsSection />
		<!-- <BlogSection /> -->
	</main>
</Layout>
