---
// Supports weights 100-900
import '@fontsource-variable/inter'
import '../styles/global.css'
import TopNavigation from '../components/sections/TopNavigation.astro'
import Footer from '../components/sections/Footer.astro'
import { getLangFromUrl } from '../i18n/utils'
import { ClientRouter, fade } from 'astro:transitions'

interface Props {
	title: string
	description?: string
}
const lang = getLangFromUrl(Astro.url)
const { title, description } = Astro.props
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="description" content={description ?? 'Junior Calva Portfolio'} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-midnight">
		<slot />
	</body>
</html>

<style>
	body {
		font-family: 'Inter Variable', sans-serif;
	}
</style>
