---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import Button from './Button.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

interface Props {
	img: ImageMetadata
	class?: string
}
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { class: className, img } = Astro.props
---

<article class:list={[' rounded-md relative  ', className]}>
	<figure class="imageContainer">
		<Image
			class={'rounded-md h-full w-full object-cover object-top   sm:object-center '}
			src={img}
			alt={'hh'}
		/>
		<div>
			<Button class="absolute right-12 -bottom-1" variant="gradient">{t('card.info')}</Button>

			<button class="absolute -bottom-2 -right-1 z-10 rounded-full p-1 bg-secondary">
				<div
					class="bg-gradient-to-r from-accent to-primary p-2 hover:opacity-90 duration-100 transition ease-in-out rounded-full"
				>
					<Icon name={'ui/arrowUpRight'} size={20} color={'white'} />
				</div>
			</button>
		</div>

		<p class="text-muted text-base absolute z-10 left-3 bottom-0">Netmall Marketplace</p>
	</figure>
</article>

<style>
	.imageContainer {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
	}

	.imageContainer::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			0deg,
			rgb(2, 0, 36) 0%,
			rgba(0, 0, 0, 0.422) 30%,
			rgba(255, 255, 255, 0) 100%
		);
		pointer-events: none;
	}
</style>
