---
import { Icon } from 'astro-icon/components'
import Title from './Title.astro'

interface Props {}
---

<article class="center flex-col bg-gradient-to-b from-secondary via-violet-950 to-secondary">
	<figure>
		<img src="https://miro.medium.com/v2/resize:fit:740/0*4HxmoUyeXbMQDOtu.png" alt="blog" />
	</figure>
	<div class="">
		<Icon name={'ui/calendar'} size={25} />
		<p>21 de septiembre, 2024</p>
	</div>
</article>
