---
interface Props {
	open: boolean
}

const { open } = Astro.props
---

<dialog open={open}>
	<p>Hello world</p>
</dialog>

<script>
	const dialog = document.querySelector('dialog') as HTMLDialogElement
	dialog.showModal()
</script>
